body {
  background: url('../img/background.gif');
  width: 100%;
  height: 100%;
  color: white;
}

.landing  {
  height: 300px;
  background-image: url(../img/wokmix.gif);
  background-size: cover;
  border: 2px solid darkgray;
  color: #000;
  background-position: center;

}
.col-centered{
    float: none;
    margin: 0 auto;
}

.landing h1 {
  font-size: 6em;
}

.form {
  display: inline-block;
  background-color: white;
  width: auto;
  border: solid 2px black;
  border-radius: 5%;
  padding-left: 20px;
  padding-top: 20px;
  color: black;

}
div#formcenter.container {
  margin:0 auto;
  float: none;

}

.basicInfo {
  padding: 0 60px 0 40px;
}

button#hidebutton {
  padding-right: 20px !important;
  margin-bottom: 15px !important;
}

#reset,
#spicyVeganGuest,
#noneEverythingSingle,
#mildBirdsGuest {
  display: none;
}
